---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../components/Hero.astro"
import Skills from "../components/Skills.astro"
import Experience from "../components/Experience.astro"
import Education from "../components/Education.astro"
import Highlights from "../components/Highlights.astro";
---

<BaseLayout title="Portfolio | Software Engineer & Solution Architect">
  <main>
    <Hero />
    <Skills />
    <Experience />
    <Education />
    <Highlights />
  </main>
</BaseLayout>

<style lang="scss">
	main {
		// Standardizing page structure
		display: flex;
		flex-direction: column;
	}
</style>
